name: Deploy

# Trigger the workflow on push and
# pull request events on the master branch
on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']

# Authenticate to the the server via ssh
# and run our deployment script
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          port: ${{ secrets.PORT }}
          key: ${{ secrets.SSHKEY }}
          script: 'cd /var/www/www.salimi.my && ./.scripts/deploy.sh'
